current/
releases/
shared/
repo/
docs/
public/uploads/*
public/uploads
public/qrcode/
public/assets/
public/fonts/
config/database.yml
config/settings.yml
.bundle
db/*.sqlite3
db/*.sqlite3-journal
log/*
tmp/*
!/log/.keep
!/tmp/.keep
.DS_Store
.byebug_history
