 <div class="p-lg text-center footer">
	<span>&copy;</span>
	<span><%= Date.today.year %></span>
	<span>-</span>
	<span>
		<a href="<%#= Settings.my_web %>" target="_blank"> <%#= Settings.me %></a>
	</span>
</div>