# config/app.yml for rails-settings-cached
defaults: &defaults
  # web_url
  protocol: 'http'
  web_url: "localhost:3000"
  web_name: "imERP"

  ## mail config
  mailer_provider: 'smtp'
  mailer_sender: "user_name@xx.com"
  mailer_sender_display_name: "imERP"
  mailer_reply_to: user_name@xx.com
  mailer_reply_display_name: ''
  mailer_options:
    address: "smtp.xx.com"
    port: 25
    domain: "xx.com"
    authentication: :login #'plain'
    user_name: "user_name@xx.com"
    password: "password"
    enable_starttls_auto: true

  devise_secret_key: '0b8d132020c6cf4c3706911d13ba205b5c88f7a83198341eee3de45272825bf13ea09aba4df1c8f342f60829ac20b8b7a66e63a5e1da006c379483f96744933b'
development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
